GI_Builder/plugins/jsx3.ide.mapping/wsdl/GetXMLFact.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://xmlme.com/WebServices" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://xmlme.com/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://xmlme.com/WebServices">
      <s:element name="GetXmlDailyFact">
        <s:complexType/>
      </s:element>
      <s:element name="GetXmlDailyFactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXmlDailyFactResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetXmlDailyFactSoapIn">
    <wsdl:part name="parameters" element="tns:GetXmlDailyFact"/>
  </wsdl:message>
  <wsdl:message name="GetXmlDailyFactSoapOut">
    <wsdl:part name="parameters" element="tns:GetXmlDailyFactResponse"/>
  </wsdl:message>
  <wsdl:message name="GetXmlDailyFactHttpGetIn"/>
  <wsdl:message name="GetXmlDailyFactHttpGetOut">
    <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:message name="GetXmlDailyFactHttpPostIn"/>
  <wsdl:message name="GetXmlDailyFactHttpPostOut">
    <wsdl:part name="Body" element="tns:string"/>
  </wsdl:message>
  <wsdl:portType name="XmlDailyFactSoap">
    <wsdl:operation name="GetXmlDailyFact">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns an XML daily fact with an emphasis on XML Web Services and the use of XML within the Microsoft .NET Framework. See http://www.xmlme.com for a sample client and additional details.</documentation>
      <wsdl:input message="tns:GetXmlDailyFactSoapIn"/>
      <wsdl:output message="tns:GetXmlDailyFactSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="XmlDailyFactHttpGet">
    <wsdl:operation name="GetXmlDailyFact">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns an XML daily fact with an emphasis on XML Web Services and the use of XML within the Microsoft .NET Framework. See http://www.xmlme.com for a sample client and additional details.</documentation>
      <wsdl:input message="tns:GetXmlDailyFactHttpGetIn"/>
      <wsdl:output message="tns:GetXmlDailyFactHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="XmlDailyFactHttpPost">
    <wsdl:operation name="GetXmlDailyFact">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns an XML daily fact with an emphasis on XML Web Services and the use of XML within the Microsoft .NET Framework. See http://www.xmlme.com for a sample client and additional details.</documentation>
      <wsdl:input message="tns:GetXmlDailyFactHttpPostIn"/>
      <wsdl:output message="tns:GetXmlDailyFactHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XmlDailyFactSoap" type="tns:XmlDailyFactSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="GetXmlDailyFact">
      <soap:operation soapAction="http://xmlme.com/WebServices/GetXmlDailyFact" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XmlDailyFactHttpGet" type="tns:XmlDailyFactHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="GetXmlDailyFact">
      <http:operation location="/GetXmlDailyFact"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XmlDailyFactHttpPost" type="tns:XmlDailyFactHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="GetXmlDailyFact">
      <http:operation location="/GetXmlDailyFact"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XmlDailyFact">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
    <wsdl:port name="XmlDailyFactSoap" binding="tns:XmlDailyFactSoap">
      <soap:address location="http://www.xmlme.com/WSDailyXml.asmx"/>
    </wsdl:port>
    <wsdl:port name="XmlDailyFactHttpGet" binding="tns:XmlDailyFactHttpGet">
      <http:address location="http://www.xmlme.com/WSDailyXml.asmx"/>
    </wsdl:port>
    <wsdl:port name="XmlDailyFactHttpPost" binding="tns:XmlDailyFactHttpPost">
      <http:address location="http://www.xmlme.com/WSDailyXml.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
