GI_Builder/plugins/jsx3.ide.mapping/wsdl/wsrp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:oasis:names:tc:wsrp:v1:wsdl"
                  xmlns:bind="urn:oasis:names:tc:wsrp:v1:bind"

                  xmlns="http://schemas.xmlsoap.org/wsdl/"

                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <wsdl:types>
    <schema targetNamespace="urn:oasis:names:tc:wsrp:v1:intf"
            xmlns="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

      <!-- import namespace="urn:oasis:names:tc:wsrp:v1:types" schemaLocation="wsrp_v1_types.xsd"/-->

    </schema>
<schema targetNamespace="urn:oasis:names:tc:wsrp:v1:types"
        xmlns:types="urn:oasis:names:tc:wsrp:v1:types"

        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"

        elementFormDefault="qualified">

<!-- This file reflects v1.0 of the specification -->

  <!-- import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd" /-->

<!-- - - - - - - - - - - - - - - - - -->
<!--  General types used throughout  -->
<!-- - - - - - - - - - - - - - - - - -->

<!-- This definition matches the WSRP v1 specification, but is not used throughout the
     rest of these definitions as not all stacks are able to handle restrictions on strings
-->
  <simpleType name="Handle">
    <restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="255"/>
    </restriction>
  </simpleType>
  <element name="Handle" type="types:Handle"/>

<!-- This definition matches the WSRP v1 specification, but is not used throughout the
     rest of these definitions as not all stacks are able to handle restrictions on strings
-->
  <simpleType name="ID">
    <restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="4096"/>
    </restriction>
  </simpleType>
  <element name="ID" type="types:ID"/>

<!-- This definition matches the WSRP v1 specification, but is not used throughout the
     rest of these definitions as not all stacks are able to handle restrictions on strings
-->
  <simpleType name="Key">
    <restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="255"/>
    </restriction>
  </simpleType>
  <element name="Key" type="types:Key"/>

  <complexType name="Extension">
    <sequence>
      <any namespace="##other"/>
    </sequence>
  </complexType>

  <complexType name="LocalizedString">
    <sequence>
      <element name="value" type="xsd:string"/>
    </sequence>
    <attribute ref="xml:lang"      use="required"/>
    <attribute name="resourceName" type="xsd:string"/>
  </complexType>

  <complexType name="ResourceList">
    <sequence>
      <element name="resources"  type="types:Resource"  maxOccurs="unbounded"/>
      <element name="extensions" type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="Resource">
    <sequence>
      <element name="values"     type="types:ResourceValue" maxOccurs="unbounded"/>
      <element name="extensions" type="types:Extension"     minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
    <attribute name="resourceName" type="xsd:string" use="required"/>
  </complexType>

  <complexType name="ResourceValue">
    <sequence>
      <element name="value" type="xsd:string"/>
      <element name="extensions" type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
    <attribute ref="xml:lang" use="required"/>
  </complexType>

  <complexType name="StringArray">
    <sequence>
      <element name="String" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="StringArray" type="types:StringArray"/>

  <complexType name="NamedString">
    <sequence>
      <element name="value" type="xsd:string"/>
    </sequence>
    <attribute name="name" type="xsd:string" use="required"/>
  </complexType>

  <complexType name="NamedStringArray">
    <sequence>
      <element name="NamedString" type="types:NamedString" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="NamedStringArray" type="types:NamedStringArray"/>

<!-- - - - - - - - - -->
<!--  Producer types -->
<!-- - - - - - - - - -->

  <complexType name="RegistrationData">
    <sequence>
      <element name="consumerName"           type="xsd:string"/>
      <element name="consumerAgent"          type="xsd:string"/>
      <element name="methodGetSupported"     type="xsd:boolean"/>
      <element name="consumerModes"          type="xsd:string"      minOccurs="0" maxOccurs="unbounded"/>
      <element name="consumerWindowStates"   type="xsd:string"      minOccurs="0" maxOccurs="unbounded"/>
      <element name="consumerUserScopes"     type="xsd:string"      minOccurs="0" maxOccurs="unbounded"/>
      <element name="customUserProfileData"  type="xsd:string"      minOccurs="0" maxOccurs="unbounded"/>
      <element name="registrationProperties" type="types:Property"  minOccurs="0" maxOccurs="unbounded"/>
      <element name="extensions"             type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="RegistrationData" type="types:RegistrationData"/>

  <complexType name="RegistrationState">
    <sequence>
      <element name="registrationState" type="xsd:base64Binary" minOccurs="0"/>
      <element name="extensions"        type="types:Extension"  minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="RegistrationState" type="types:RegistrationState"/>

  <complexType name="RegistrationContext">
    <sequence>
 <!-- <element name="registrationHandle" type="types:Handle"/>
  JAX-RPC RI doesn't handle restrictions on xsd:string
 -->
      <element name="registrationHandle" type="xsd:string"/>
      <element name="registrationState"  type="xsd:base64Binary" minOccurs="0"/>
      <element name="extensions" type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="RegistrationContext" type="types:RegistrationContext"/>

  <complexType name="SessionContext">
    <sequence>
      <element name="sessionID"  type="xsd:string"/>
      <element name="expires"    type="xsd:int"/>
      <element name="extensions" type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="SessionContext" type="types:SessionContext"/>

  <complexType name="RuntimeContext">
    <sequence>
      <element name="userAuthentication" type="xsd:string"/>
      <element name="portletInstanceKey" type="xsd:string"      minOccurs="0"/>
      <element name="namespacePrefix"    type="xsd:string"      minOccurs="0"/>
      <element name="templates"          type="types:Templates" minOccurs="0"/>
      <element name="sessionID"          type="xsd:string"      minOccurs="0"/>
      <element name="extensions"         type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="RuntimeContext" type="types:RuntimeContext"/>

  <complexType name="ItemDescription">
    <sequence>
      <element name="description" type="types:LocalizedString"/>
      <element name="extensions"  type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
    <attribute name="itemName" type="xsd:string" use="required"/>
  </complexType>

  <simpleType name="CookieProtocol">
    <restriction base="xsd:string">
      <enumeration value="none"/>
      <enumeration value="perUser"/>
      <enumeration value="perGroup"/>
    </restriction>
  </simpleType>

  <complexType name="ServiceDescription">
    <sequence>
      <element name="requiresRegistration" type="xsd:boolean"/>
      <element name="offeredPortlets"      type="types:PortletDescription" minOccurs="0" maxOccurs="unbounded"/>
      <element name="userCategoryDescriptions" type="types:ItemDescription" minOccurs="0" maxOccurs="unbounded"/>
      <element name="customUserProfileItemDescriptions" type="types:ItemDescription" minOccurs="0" maxOccurs="unbounded"/>
      <element name="customWindowStateDescriptions" type="types:ItemDescription" minOccurs="0" maxOccurs="unbounded"/>
      <element name="customModeDescriptions" type="types:ItemDescription" minOccurs="0" maxOccurs="unbounded"/>
      <element name="requiresInitCookie"   type="types:CookieProtocol"    default="none" minOccurs="0"/>
      <element name="registrationPropertyDescription" type="types:ModelDescription"      minOccurs="0"/>
      <element name="locales"              type="xsd:string"              minOccurs="0"  maxOccurs="unbounded"/>
      <element name="resourceList"         type="types:ResourceList"      minOccurs="0"/>
      <element name="extensions"           type="types:Extension"         minOccurs="0"  maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="ServiceDescription" type="types:ServiceDescription"/>


<!-- - - - - - - - - - - - - - - - - - - -->
<!-- Portlet types (metadata and runtime) -->
<!-- - - - - - - - - - - - - - - - - - - -->

  <complexType name="MarkupType">
    <sequence>
      <element name="mimeType"     type="xsd:string"/>
      <element name="modes"        type="xsd:string"      maxOccurs="unbounded"/>
      <element name="windowStates" type="xsd:string"      maxOccurs="unbounded"/>
      <element name="locales"      type="xsd:string"      minOccurs="0" maxOccurs="unbounded"/>
      <element name="extensions"   type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="PortletDescription">
    <sequence>
 <!-- <element name="portletHandle"    type="types:Handle"/> -->
      <element name="portletHandle"    type="xsd:string"/>
      <element name="markupTypes"      type="types:MarkupType"      maxOccurs="unbounded"/>
      <element name="groupID"          type="xsd:string"            minOccurs="0"/>
      <element name="description"      type="types:LocalizedString" minOccurs="0"/>
      <element name="shortTitle"       type="types:LocalizedString" minOccurs="0"/>
      <element name="title"            type="types:LocalizedString" minOccurs="0"/>
      <element name="displayName"      type="types:LocalizedString" minOccurs="0"/>
      <element name="keywords"         type="types:LocalizedString" minOccurs="0"   maxOccurs="unbounded"/>
      <element name="userCategories"   type="xsd:string"            minOccurs="0"   maxOccurs="unbounded"/>
      <element name="userProfileItems" type="xsd:string"            minOccurs="0"   maxOccurs="unbounded"/>
      <element name="usesMethodGet"    type="xsd:boolean"           default="false" minOccurs="0"/>
      <element name="defaultMarkupSecure"        type="xsd:boolean" default="false" minOccurs="0"/>
      <element name="onlySecure"                 type="xsd:boolean" default="false" minOccurs="0"/>
      <element name="userContextStoredInSession" type="xsd:boolean" default="false" minOccurs="0"/>
      <element name="templatesStoredInSession"   type="xsd:boolean" default="false" minOccurs="0"/>
      <element name="hasUserSpecificState"       type="xsd:boolean" default="false" minOccurs="0"/>
      <element name="doesUrlTemplateProcessing"  type="xsd:boolean" default="false" minOccurs="0"/>
      <element name="extensions" type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType  name="PortletDescriptionResponse">
    <sequence>
      <element name="portletDescription" type="types:PortletDescription"/>
      <element name="resourceList"       type="types:ResourceList" minOccurs="0"/>
      <element name="extensions"         type="types:Extension"    minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="PortletContext">
    <sequence>
 <!-- <element name="portletHandle" type="types:Handle"/> -->
      <element name="portletHandle" type="xsd:string"/>
      <element name="portletState"  type="xsd:base64Binary" minOccurs="0"/>
      <element name="extensions"    type="types:Extension"  minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="PortletContext" type="types:PortletContext"/>

  <complexType name="DestroyFailed">
    <sequence>
      <element name="portletHandle" type="xsd:string"/>
      <element name="reason"        type="xsd:string"/>
    </sequence>
  </complexType>

<!-- - - - - - - - - - - - -->
<!-- Markup oriented types -->
<!-- - - - - - - - - - - - -->

  <complexType name="ClientData">
    <sequence>
      <element name="userAgent"  type="xsd:string"      minOccurs="0"/>
      <element name="extensions" type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="ClientData" type="types:ClientData"/>

  <complexType name="CacheControl">
    <sequence>
      <element name="expires"     type="xsd:int"/>
      <element name="userScope"   type="xsd:string"/>
      <element name="validateTag" type="xsd:string"       minOccurs="0"/>
      <element name="extensions"  type="types:Extension"  minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="Templates">
    <sequence>
      <element name="defaultTemplate"              type="xsd:string"      nillable="true"/>
      <element name="blockingActionTemplate"       type="xsd:string"      minOccurs="0"/>
      <element name="renderTemplate"               type="xsd:string"      minOccurs="0"/>
      <element name="resourceTemplate"             type="xsd:string"      minOccurs="0"/>
      <element name="secureDefaultTemplate"        type="xsd:string"      nillable="true"/>
      <element name="secureBlockingActionTemplate" type="xsd:string"      minOccurs="0"/>
      <element name="secureRenderTemplate"         type="xsd:string"      minOccurs="0"/>
      <element name="secureResourceTemplate"       type="xsd:string"      minOccurs="0"/>
      <element name="extensions"                   type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="Templates" type="types:Templates"/>

  <complexType name="MarkupParams">
    <sequence>
      <element name="secureClientCommunication" type="xsd:boolean"/>
      <element name="locales"              type="xsd:string"        maxOccurs="unbounded"/>
      <element name="mimeTypes"            type="xsd:string"        maxOccurs="unbounded"/>
      <element name="mode"                 type="xsd:string"/>
      <element name="windowState"          type="xsd:string"/>
      <element name="clientData"           type="types:ClientData"  minOccurs="0"/>
      <element name="navigationalState"    type="xsd:string"        minOccurs="0"/>
      <element name="markupCharacterSets"  type="xsd:string"        minOccurs="0" maxOccurs="unbounded"/>
      <element name="validateTag"          type="xsd:string"        minOccurs="0"/>
      <element name="validNewModes"        type="xsd:string"        minOccurs="0" maxOccurs="unbounded"/>
      <element name="validNewWindowStates" type="xsd:string"        minOccurs="0" maxOccurs="unbounded"/>
      <element name="extensions"           type="types:Extension"   minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="MarkupParams" type="types:MarkupParams"/>

  <complexType name="MarkupResponse">
    <sequence>
      <element name="markupContext"   type="types:MarkupContext"/>
      <element name="sessionContext"  type="types:SessionContext" minOccurs="0"/>
      <element name="extensions"      type="types:Extension"      minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="MarkupContext">
    <sequence>
      <element name="useCachedMarkup"      type="xsd:boolean"        default="false" minOccurs="0"/>
      <element name="mimeType"             type="xsd:string"         minOccurs="0"/>
      <element name="markupString"         type="xsd:string"         minOccurs="0"/>
      <element name="markupBinary"         type="xsd:base64Binary"   minOccurs="0"/>
      <element name="locale"               type="xsd:string"         minOccurs="0"/>
      <element name="requiresUrlRewriting" type="xsd:boolean"        default="false" minOccurs="0"/>
      <element name="cacheControl"         type="types:CacheControl" minOccurs="0"/>
      <element name="preferredTitle"       type="xsd:string"         minOccurs="0"/>
      <element name="extensions"           type="types:Extension"    minOccurs="0"   maxOccurs="unbounded"/>
    </sequence>
  </complexType>

<!-- - - - - - - - - - - - - - - -->
<!-- Interaction oriented types  -->
<!-- - - - - - - - - - - - - - - -->

  <simpleType name="StateChange">
    <restriction base="xsd:string">
      <enumeration value="readWrite"/>
      <enumeration value="cloneBeforeWrite"/>
      <enumeration value="readOnly"/>
    </restriction>
  </simpleType>

  <complexType name="UploadContext">
    <sequence>
      <element name="mimeType"       type="xsd:string"/>
      <element name="uploadData"     type="xsd:base64Binary"/>
      <element name="mimeAttributes" type="types:NamedString" minOccurs="0" maxOccurs="unbounded"/>
      <element name="extensions"     type="types:Extension"   minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="InteractionParams">
    <sequence>
      <element name="portletStateChange" type="types:StateChange"/>
      <element name="interactionState"   type="xsd:string"          minOccurs="0"/>
      <element name="formParameters"     type="types:NamedString"   minOccurs="0" maxOccurs="unbounded"/>
      <element name="uploadContexts"     type="types:UploadContext" minOccurs="0" maxOccurs="unbounded"/>
      <element name="extensions"         type="types:Extension"     minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="InteractionParams" type="types:InteractionParams"/>

  <complexType name="UpdateResponse">
    <sequence>
      <element name="sessionContext"      type="types:SessionContext" minOccurs="0"/>
      <element name="portletContext"      type="types:PortletContext" minOccurs="0"/>
      <element name="markupContext"       type="types:MarkupContext"  minOccurs="0"/>
      <element name="navigationalState"   type="xsd:string"           nillable="true"/>
      <element name="newWindowState"      type="xsd:string"           minOccurs="0"/>
      <element name="newMode"             type="xsd:string"           minOccurs="0"/>
    </sequence>
  </complexType>

  <complexType name="BlockingInteractionResponse">
    <sequence>
      <!-- Would prefer this to be a choice ... Axis and JAX-RPC failed to handle that -->
      <element name="updateResponse" type="types:UpdateResponse" minOccurs="0"/>
      <element name="redirectURL"    type="xsd:string"           minOccurs="0"/>
      <!-- end prefer this to be a choice -->
      <element name="extensions"     type="types:Extension"      minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="BlockingInteractionResponse" type="types:BlockingInteractionResponse"/>

<!-- - - - - - - - - - - -->
<!-- User Profile types  -->
<!-- - - - - - - - - - - -->

  <complexType name="Postal">
    <sequence>
      <element name="name"         type="xsd:string"      minOccurs="0"/>
      <element name="street"       type="xsd:string"      minOccurs="0"/>
      <element name="city"         type="xsd:string"      minOccurs="0"/>
      <element name="stateprov"    type="xsd:string"      minOccurs="0"/>
      <element name="postalcode"   type="xsd:string"      minOccurs="0"/>
      <element name="country"      type="xsd:string"      minOccurs="0"/>
      <element name="organization" type="xsd:string"      minOccurs="0"/>
      <element name="extensions"   type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="TelephoneNum">
    <sequence>
      <element name="intcode"    type="xsd:string"      minOccurs="0"/>
      <element name="loccode"    type="xsd:string"      minOccurs="0"/>
      <element name="number"     type="xsd:string"      minOccurs="0"/>
      <element name="ext"        type="xsd:string"      minOccurs="0"/>
      <element name="comment"    type="xsd:string"      minOccurs="0"/>
      <element name="extensions" type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="Telecom">
    <sequence>
      <element name="telephone"  type="types:TelephoneNum" minOccurs="0"/>
      <element name="fax"        type="types:TelephoneNum" minOccurs="0"/>
      <element name="mobile"     type="types:TelephoneNum" minOccurs="0"/>
      <element name="pager"      type="types:TelephoneNum" minOccurs="0"/>
      <element name="extensions" type="types:Extension"    minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="Online">
    <sequence>
      <element name="email"      type="xsd:string"      minOccurs="0"/>
      <element name="uri"        type="xsd:string"      minOccurs="0"/>
      <element name="extensions" type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="Contact">
    <sequence>
      <element name="postal"     type="types:Postal"    minOccurs="0"/>
      <element name="telecom"    type="types:Telecom"   minOccurs="0"/>
      <element name="online"     type="types:Online"    minOccurs="0"/>
      <element name="extensions" type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="Contact" type="types:Contact"/>

  <complexType name="EmployerInfo">
    <sequence>
      <element name="employer"   type="xsd:string"      minOccurs="0"/>
      <element name="department" type="xsd:string"      minOccurs="0"/>
      <element name="jobtitle"   type="xsd:string"      minOccurs="0"/>
      <element name="extensions" type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="PersonName">
    <sequence>
      <element name="prefix"     type="xsd:string"      minOccurs="0"/>
      <element name="given"      type="xsd:string"      minOccurs="0"/>
      <element name="family"     type="xsd:string"      minOccurs="0"/>
      <element name="middle"     type="xsd:string"      minOccurs="0"/>
      <element name="suffix"     type="xsd:string"      minOccurs="0"/>
      <element name="nickname"   type="xsd:string"      minOccurs="0"/>
      <element name="extensions" type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="UserProfile">
    <sequence>
      <element name="name"         type="types:PersonName"   minOccurs="0"/>
      <element name="bdate"        type="xsd:dateTime"       minOccurs="0"/>
      <element name="gender"       type="xsd:string"         minOccurs="0"/>
      <element name="employerInfo" type="types:EmployerInfo" minOccurs="0"/>
      <element name="homeInfo"     type="types:Contact"      minOccurs="0"/>
      <element name="businessInfo" type="types:Contact"      minOccurs="0"/>
      <element name="extensions"   type="types:Extension"    minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <complexType name="UserContext">
    <sequence>
      <element name="userContextKey" type="xsd:string"/>
      <element name="userCategories" type="xsd:string"        minOccurs="0" maxOccurs="unbounded"/>
      <element name="profile"        type="types:UserProfile" minOccurs="0"/>
      <element name="extensions"     type="types:Extension"   minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="UserContext" type="types:UserContext"/>

<!-- - - - - - - - - -->
<!--  Property types -->
<!-- - - - - - - - - -->

  <complexType name="Property">
    <sequence>
      <!-- Would prefer this to be a choice ... Axis and JAX-RPC failed to handle that -->
      <element name="stringValue"  type="xsd:string" minOccurs="0"/>
      <any     namespace="##other" minOccurs="0"     maxOccurs="unbounded"/>
      <!-- end prefer this to be a choice -->
    </sequence>
    <attribute name="name"         type="xsd:string" use="required"/>
    <attribute ref="xml:lang"/>
  </complexType>

  <complexType name="ResetProperty">
    <sequence/>
    <attribute name="name" type="xsd:string" use="required"/>
  </complexType>

  <complexType name="PropertyList">
    <sequence>
      <element name="properties"      type="types:Property"      minOccurs="0" maxOccurs="unbounded"/>
      <element name="resetProperties" type="types:ResetProperty" minOccurs="0" maxOccurs="unbounded"/>
      <element name="extensions"      type="types:Extension"     minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="PropertyList" type="types:PropertyList"/>

  <complexType name="PropertyDescription">
    <sequence>
      <element name="label" type="types:LocalizedString" minOccurs="0"/>
      <element name="hint"  type="types:LocalizedString" minOccurs="0"/>
      <element name="extensions" type="types:Extension"  minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
    <attribute name="name"  type="xsd:string" use="required"/>
    <attribute name="type"  type="xsd:QName"  use="required"/>
  </complexType>

  <complexType name="ModelTypes">
    <sequence>
      <any namespace="##other"/>
    </sequence>
  </complexType>

  <complexType name="ModelDescription">
    <sequence>
      <element name="propertyDescriptions" type="types:PropertyDescription" minOccurs="0" maxOccurs="unbounded"/>
      <element name="modelTypes"   type="types:ModelTypes"   minOccurs="0"/>
      <element name="extensions"   type="types:Extension"    minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="ModelDescription" type="types:ModelDescription"/>

  <complexType name="PortletPropertyDescriptionResponse">
    <sequence>
      <element name="modelDescription" type="types:ModelDescription" minOccurs="0"/>
      <element name="resourceList"     type="types:ResourceList" minOccurs="0"/>
      <element name="extensions"       type="types:Extension"    minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

<!-- - - - - - - - - - - - - -->
<!-- operation message types -->
<!-- - - - - - - - - - - - - -->

  <complexType name="ReturnAny">
    <sequence>
      <element name="extensions" type="types:Extension" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <element name="getMarkup">
    <complexType>
      <sequence>
        <element name="registrationContext" type="types:RegistrationContext" nillable="true"/>
        <element name="portletContext"      type="types:PortletContext"/>
        <element name="runtimeContext"      type="types:RuntimeContext"/>
        <element name="userContext"         type="types:UserContext" nillable="true"/>
        <element name="markupParams"        type="types:MarkupParams"/>
      </sequence>
    </complexType>
  </element>
  <element name="getMarkupResponse" type="types:MarkupResponse"/>

  <element name="performBlockingInteraction">
    <complexType>
      <sequence>
        <element name="registrationContext" type="types:RegistrationContext" nillable="true"/>
        <element name="portletContext"      type="types:PortletContext"/>
        <element name="runtimeContext"      type="types:RuntimeContext"/>
        <element name="userContext"         type="types:UserContext" nillable="true"/>
        <element name="markupParams"        type="types:MarkupParams"/>
        <element name="interactionParams"   type="types:InteractionParams"/>
      </sequence>
    </complexType>
  </element>
  <element name="performBlockingInteractionResponse" type="types:BlockingInteractionResponse"/>

  <element name="getServiceDescription">
    <complexType>
      <sequence>
        <element name="registrationContext" type="types:RegistrationContext" nillable="true"/>
        <element name="desiredLocales"      type="xsd:string" minOccurs="0"  maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>
  <element name="getServiceDescriptionResponse" type="types:ServiceDescription"/>

  <element name="register"         type="types:RegistrationData"/>
  <element name="registerResponse" type="types:RegistrationContext"/>

  <element name="deregister"         type="types:RegistrationContext"/>
  <element name="deregisterResponse" type="types:ReturnAny"/>

  <element name="modifyRegistration">
    <complexType>
      <sequence>
        <element name="registrationContext" type="types:RegistrationContext" nillable="true"/>
        <element name="registrationData"    type="types:RegistrationData"/>
      </sequence>
    </complexType>
  </element>
  <element name="modifyRegistrationResponse" type="types:RegistrationState"/>

  <element name="getPortletDescription">
    <complexType>
      <sequence>
        <element name="registrationContext" type="types:RegistrationContext" nillable="true"/>
        <element name="portletContext"      type="types:PortletContext"/>
        <element name="userContext"         type="types:UserContext" nillable="true"/>
        <element name="desiredLocales"      type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>
  <element name="getPortletDescriptionResponse" type="types:PortletDescriptionResponse"/>

  <element name="clonePortlet">
    <complexType>
      <sequence>
        <element name="registrationContext" type="types:RegistrationContext" nillable="true"/>
        <element name="portletContext"      type="types:PortletContext"/>
        <element name="userContext"         type="types:UserContext" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <element name="clonePortletResponse" type="types:PortletContext"/>

  <element name="destroyPortlets">
    <complexType>
      <sequence>
        <element name="registrationContext" type="types:RegistrationContext" nillable="true"/>
        <element name="portletHandles"       type="xsd:string" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>
  <complexType name="DestroyPortletsResponse">
    <sequence>
      <element name="destroyFailed" type="types:DestroyFailed" minOccurs="0" maxOccurs="unbounded"/>
      <element name="extensions"    type="types:Extension"     minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <element name="destroyPortletsResponse" type="types:DestroyPortletsResponse"/>

  <element name="setPortletProperties">
    <complexType>
      <sequence>
        <element name="registrationContext" type="types:RegistrationContext" nillable="true"/>
        <element name="portletContext"      type="types:PortletContext"/>
        <element name="userContext"         type="types:UserContext" nillable="true"/>
        <element name="propertyList"        type="types:PropertyList"/>
      </sequence>
    </complexType>
  </element>
  <element name="setPortletPropertiesResponse" type="types:PortletContext"/>

  <element name="getPortletProperties">
    <complexType>
      <sequence>
        <element name="registrationContext" type="types:RegistrationContext" nillable="true"/>
        <element name="portletContext"      type="types:PortletContext"/>
        <element name="userContext"         type="types:UserContext" nillable="true"/>
        <element name="names"               type="xsd:string" nillable="true" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>
  <element name="getPortletPropertiesResponse" type="types:PropertyList"/>

  <element name="getPortletPropertyDescription">
    <complexType>
      <sequence>
        <element name="registrationContext" type="types:RegistrationContext" nillable="true"/>
        <element name="portletContext"      type="types:PortletContext"/>
        <element name="userContext"         type="types:UserContext" nillable="true"/>
        <element name="desiredLocales"      type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>
  <element name="getPortletPropertyDescriptionResponse" type="types:PortletPropertyDescriptionResponse"/>

  <element name="releaseSessions">
    <complexType>
      <sequence>
        <element name="registrationContext" type="types:RegistrationContext" nillable="true"/>
        <element name="sessionIDs"          type="xsd:string" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>
  <element name="releaseSessionsResponse" type="types:ReturnAny"/>

  <element name="initCookie">
    <complexType>
      <sequence>
        <element name="registrationContext" type="types:RegistrationContext" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <element name="initCookieResponse" type="types:ReturnAny"/>

<!-- - - - - - - -->
<!-- fault types -->
<!-- - - - - - - -->

  <complexType name="Fault">
    <sequence/>
  </complexType>

  <complexType name="AccessDeniedFault">
    <complexContent>
      <extension base="types:Fault">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="AccessDenied" type="types:AccessDeniedFault"/>

  <complexType name="InconsistentParametersFault">
    <complexContent>
      <extension base="types:Fault">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="InconsistentParameters" type="types:InconsistentParametersFault"/>

  <complexType name="InvalidRegistrationFault">
    <complexContent>
      <extension base="types:Fault">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="InvalidRegistration" type="types:InvalidRegistrationFault"/>

  <complexType name="MissingParametersFault">
    <complexContent>
      <extension base="types:Fault">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="MissingParameters" type="types:MissingParametersFault"/>

  <complexType name="OperationFailedFault">
    <complexContent>
      <extension base="types:Fault">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="OperationFailed" type="types:OperationFailedFault"/>

  <complexType name="InvalidHandleFault">
    <complexContent>
      <extension base="types:Fault">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="InvalidHandle" type="types:InvalidHandleFault"/>

  <complexType name="InvalidUserCategoryFault">
    <complexContent>
      <extension base="types:Fault">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="InvalidUserCategory" type="types:InvalidUserCategoryFault"/>

  <complexType name="PortletStateChangeRequiredFault">
    <complexContent>
      <extension base="types:Fault">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>

  <element name="PortletStateChangeRequired" type="types:PortletStateChangeRequiredFault"/>

  <complexType name="InvalidCookieFault">
   <complexContent>
     <extension base="types:Fault">
       <sequence/>
     </extension>
   </complexContent>
  </complexType>

  <element name="InvalidCookie" type="types:InvalidCookieFault"/>

  <complexType name="InvalidSessionFault">
   <complexContent>
     <extension base="types:Fault">
       <sequence/>
     </extension>
   </complexContent>
  </complexType>

  <element name="InvalidSession" type="types:InvalidSessionFault"/>

  <complexType name="UnsupportedModeFault">
    <complexContent>
      <extension base="types:Fault">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="UnsupportedMode" type="types:UnsupportedModeFault"/>

  <complexType name="UnsupportedWindowStateFault">
    <complexContent>
      <extension base="types:Fault">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="UnsupportedWindowState" type="types:UnsupportedWindowStateFault"/>

  <complexType name="UnsupportedLocaleFault">
    <complexContent>
      <extension base="types:Fault">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="UnsupportedLocale" type="types:UnsupportedLocaleFault"/>

  <complexType name="UnsupportedMimeTypeFault">
    <complexContent>
      <extension base="types:Fault">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <element name="UnsupportedMimeType" type="types:UnsupportedMimeTypeFault"/>
</schema>
  </wsdl:types>


<!-- - - - - - - - - -->
<!-- fault messages  -->
<!-- - - - - - - - - -->

  <wsdl:message name="AccessDenied">
    <wsdl:part name="fault" element="types:AccessDenied"/>
  </wsdl:message>

  <wsdl:message name="InvalidUserCategory">
    <wsdl:part name="fault" element="types:InvalidUserCategory"/>
  </wsdl:message>

  <wsdl:message name="InconsistentParameters">
    <wsdl:part name="fault" element="types:InconsistentParameters"/>
  </wsdl:message>

  <wsdl:message name="InvalidRegistration">
    <wsdl:part name="fault" element="types:InvalidRegistration"/>
  </wsdl:message>

  <wsdl:message name="MissingParameters">
    <wsdl:part name="fault" element="types:MissingParameters"/>
  </wsdl:message>

  <wsdl:message name="OperationFailed">
    <wsdl:part name="fault" element="types:OperationFailed"/>
  </wsdl:message>

  <wsdl:message name="InvalidHandle">
    <wsdl:part name="fault" element="types:InvalidHandle"/>
  </wsdl:message>

  <wsdl:message name="PortletStateChangeRequired">
    <wsdl:part name="fault" element="types:PortletStateChangeRequired"/>
  </wsdl:message>

  <wsdl:message name="InvalidCookie">
    <wsdl:part name="fault" element="types:InvalidCookie"/>
  </wsdl:message>

  <wsdl:message name="InvalidSession">
    <wsdl:part name="fault" element="types:InvalidSession"/>
  </wsdl:message>

  <wsdl:message name="UnsupportedMode">
    <wsdl:part name="fault" element="types:UnsupportedMode"/>
  </wsdl:message>

  <wsdl:message name="UnsupportedWindowState">
    <wsdl:part name="fault" element="types:UnsupportedWindowState"/>
  </wsdl:message>

  <wsdl:message name="UnsupportedLocale">
    <wsdl:part name="fault" element="types:UnsupportedLocale"/>
  </wsdl:message>

  <wsdl:message name="UnsupportedMimeType">
    <wsdl:part name="fault" element="types:UnsupportedMimeType"/>
  </wsdl:message>


<!-- - - - - - - - - - - -->
<!-- Operations messages -->
<!-- - - - - - - - - - - -->

  <wsdl:message name="getMarkup">
    <wsdl:part  name="getMarkup" element="types:getMarkup"/>
  </wsdl:message>
  <wsdl:message name="getMarkupResponse">
    <wsdl:part  name="getMarkupResponse" element="types:getMarkupResponse"/>
  </wsdl:message>

  <wsdl:message name="performBlockingInteraction">
    <wsdl:part  name="performBlockingInteraction" element="types:performBlockingInteraction"/>
  </wsdl:message>
  <wsdl:message name="performBlockingInteractionResponse">
    <wsdl:part  name="performBlockingInteractionResponse" element="types:performBlockingInteractionResponse"/>
  </wsdl:message>

  <wsdl:message name="getServiceDescription">
    <wsdl:part  name="getServiceDescription" element="types:getServiceDescription"/>
  </wsdl:message>
  <wsdl:message name="getServiceDescriptionResponse">
    <wsdl:part  name="getServiceDescriptionResponse" element="types:getServiceDescriptionResponse"/>
  </wsdl:message>

  <wsdl:message name="register">
    <wsdl:part  name="register" element="types:register"/>
  </wsdl:message>
  <wsdl:message name="registerResponse">
    <wsdl:part  name="registerResponse" element="types:registerResponse"/>
  </wsdl:message>

  <wsdl:message name="deregister">
    <wsdl:part  name="deregister" element="types:deregister"/>
  </wsdl:message>
  <wsdl:message name="deregisterResponse">
    <wsdl:part  name="deregisterResponse" element="types:deregisterResponse"/>
  </wsdl:message>

  <wsdl:message name="modifyRegistration">
    <wsdl:part  name="modifyRegistration" element="types:modifyRegistration"/>
  </wsdl:message>
  <wsdl:message name="modifyRegistrationResponse">
    <wsdl:part  name="modifyRegistrationResponse" element="types:modifyRegistrationResponse"/>
  </wsdl:message>

  <wsdl:message name="getPortletDescription">
    <wsdl:part  name="getPortletDescription" element="types:getPortletDescription"/>
  </wsdl:message>
  <wsdl:message name="getPortletDescriptionResponse">
    <wsdl:part  name="getPortletDescriptionResponse" element="types:getPortletDescriptionResponse"/>
  </wsdl:message>

  <wsdl:message name="clonePortlet">
    <wsdl:part  name="clonePortlet" element="types:clonePortlet"/>
  </wsdl:message>
  <wsdl:message name="clonePortletResponse">
    <wsdl:part  name="clonePortletResponse" element="types:clonePortletResponse"/>
  </wsdl:message>

  <wsdl:message name="destroyPortlets">
    <wsdl:part  name="destroyPortlets" element="types:destroyPortlets"/>
  </wsdl:message>
  <wsdl:message name="destroyPortletsResponse">
    <wsdl:part  name="destroyPortletsResponse" element="types:destroyPortletsResponse"/>
  </wsdl:message>

  <wsdl:message name="setPortletProperties">
    <wsdl:part  name="setPortletProperties" element="types:setPortletProperties"/>
  </wsdl:message>
  <wsdl:message name="setPortletPropertiesResponse">
    <wsdl:part  name="setPortletPropertiesResponse" element="types:setPortletPropertiesResponse"/>
  </wsdl:message>

  <wsdl:message name="getPortletProperties">
    <wsdl:part  name="getPortletProperties" element="types:getPortletProperties"/>
  </wsdl:message>
  <wsdl:message name="getPortletPropertiesResponse">
    <wsdl:part  name="getPortletPropertiesResponse" element="types:getPortletPropertiesResponse"/>
  </wsdl:message>

  <wsdl:message name="getPortletPropertyDescription">
    <wsdl:part  name="getPortletPropertyDescription" element="types:getPortletPropertyDescription"/>
  </wsdl:message>
  <wsdl:message name="getPortletPropertyDescriptionResponse">
    <wsdl:part  name="getPortletPropertyDescriptionResponse" element="types:getPortletPropertyDescriptionResponse"/>
  </wsdl:message>

  <wsdl:message name="releaseSessions">
    <wsdl:part  name="releaseSessions" element="types:releaseSessions"/>
  </wsdl:message>
  <wsdl:message name="releaseSessionsResponse">
    <wsdl:part  name="releaseSessionsResponse" element="types:releaseSessionsResponse"/>
  </wsdl:message>

  <wsdl:message name="initCookie">
    <wsdl:part  name="initCookie" element="types:initCookie"/>
  </wsdl:message>
  <wsdl:message name="initCookieResponse">
    <wsdl:part  name="initCookieResponse" element="types:initCookieResponse"/>
  </wsdl:message>

  <wsdl:portType name="WSRP_v1_Markup_PortType">
    <wsdl:operation name="getMarkup">
      <wsdl:input  message="intf:getMarkup"           name="getMarkup"/>
      <wsdl:output message="intf:getMarkupResponse"   name="getMarkupResponse"/>
      <wsdl:fault  message="intf:AccessDenied"        name="AccessDenied"/>
      <wsdl:fault  message="intf:InvalidUserCategory" name="InvalidUserCategory"/>
      <wsdl:fault  message="intf:InconsistentParameters" name="InconsistentParameters"/>
      <wsdl:fault  message="intf:InvalidRegistration" name="InvalidRegistration"/>
      <wsdl:fault  message="intf:MissingParameters"   name="MissingParameters"/>
      <wsdl:fault  message="intf:OperationFailed"     name="OperationFailed"/>
      <wsdl:fault  message="intf:InvalidHandle"       name="InvalidHandle"/>
      <wsdl:fault  message="intf:InvalidCookie"       name="InvalidCookie"/>
      <wsdl:fault  message="intf:InvalidSession"      name="InvalidSession"/>
      <wsdl:fault  message="intf:UnsupportedMode"     name="UnsupportedMode"/>
      <wsdl:fault  message="intf:UnsupportedWindowState" name="UnsupportedWindowState"/>
      <wsdl:fault  message="intf:UnsupportedLocale"   name="UnsupportedLocale"/>
      <wsdl:fault  message="intf:UnsupportedMimeType" name="UnsupportedMimeType"/>
    </wsdl:operation>

    <wsdl:operation name="performBlockingInteraction">
      <wsdl:input  message="intf:performBlockingInteraction"  name="performBlockingInteraction"/>
      <wsdl:output message="intf:performBlockingInteractionResponse" name="performBlockingInteractionResponse"/>
      <wsdl:fault  message="intf:AccessDenied"           name="AccessDenied"/>
      <wsdl:fault  message="intf:InvalidUserCategory"    name="InvalidUserCategory"/>
      <wsdl:fault  message="intf:InconsistentParameters" name="InconsistentParameters"/>
      <wsdl:fault  message="intf:InvalidRegistration"    name="InvalidRegistration"/>
      <wsdl:fault  message="intf:MissingParameters"      name="MissingParameters"/>
      <wsdl:fault  message="intf:OperationFailed"        name="OperationFailed"/>
      <wsdl:fault  message="intf:InvalidHandle"          name="InvalidHandle"/>
      <wsdl:fault  message="intf:PortletStateChangeRequired"  name="PortletStateChangeRequired"/>
      <wsdl:fault  message="intf:InvalidCookie"          name="InvalidCookie"/>
      <wsdl:fault  message="intf:InvalidSession"         name="InvalidSession"/>
      <wsdl:fault  message="intf:UnsupportedMode"        name="UnsupportedMode"/>
      <wsdl:fault  message="intf:UnsupportedWindowState" name="UnsupportedWindowState"/>
      <wsdl:fault  message="intf:UnsupportedLocale"      name="UnsupportedLocale"/>
      <wsdl:fault  message="intf:UnsupportedMimeType"    name="UnsupportedMimeType"/>
    </wsdl:operation>

    <wsdl:operation name="releaseSessions">
      <wsdl:input  message="intf:releaseSessions"        name="releaseSessions"/>
      <wsdl:output message="intf:releaseSessionsResponse" name="releaseSessionsResponse"/>
      <wsdl:fault  message="intf:AccessDenied"           name="AccessDenied"/>
      <wsdl:fault  message="intf:InvalidRegistration"    name="InvalidRegistration"/>
      <wsdl:fault  message="intf:MissingParameters"      name="MissingParameters"/>
      <wsdl:fault  message="intf:OperationFailed"        name="OperationFailed"/>
    </wsdl:operation>

    <wsdl:operation name="initCookie">
      <wsdl:input  message="intf:initCookie"          name="initCookie"/>
      <wsdl:output message="intf:initCookieResponse"  name="initCookieResponse"/>
      <wsdl:fault  message="intf:AccessDenied"        name="AccessDenied"/>
      <wsdl:fault  message="intf:InvalidRegistration" name="InvalidRegistration"/>
      <wsdl:fault  message="intf:OperationFailed"     name="OperationFailed"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="WSRP_v1_ServiceDescription_PortType">
    <wsdl:operation name="getServiceDescription">
      <wsdl:input  message="intf:getServiceDescription"  name="getServiceDescription"/>
      <wsdl:output message="intf:getServiceDescriptionResponse" name="getServiceDescriptionResponse"/>
      <wsdl:fault  message="intf:InvalidRegistration"    name="InvalidRegistration"/>
      <wsdl:fault  message="intf:OperationFailed"        name="OperationFailed"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="WSRP_v1_Registration_PortType">
    <wsdl:operation name="register">
      <wsdl:input  message="intf:register"              name="register"/>
      <wsdl:output message="intf:registerResponse"      name="registerResponse"/>
      <wsdl:fault  message="intf:MissingParameters"     name="MissingParameters"/>
      <wsdl:fault  message="intf:OperationFailed"       name="OperationFailed"/>
    </wsdl:operation>

    <wsdl:operation name="deregister">
      <wsdl:input  message="intf:deregister"            name="deregister"/>
      <wsdl:output message="intf:deregisterResponse"    name="deregisterResponse"/>
      <wsdl:fault  message="intf:InvalidRegistration"   name="InvalidRegistration"/>
      <wsdl:fault  message="intf:OperationFailed"       name="OperationFailed"/>
    </wsdl:operation>

    <wsdl:operation name="modifyRegistration">
      <wsdl:input  message="intf:modifyRegistration"     name="modifyRegistration"/>
      <wsdl:output message="intf:modifyRegistrationResponse" name="modifyRegistrationResponse"/>
      <wsdl:fault  message="intf:InvalidRegistration"    name="InvalidRegistration"/>
      <wsdl:fault  message="intf:MissingParameters"      name="MissingParameters"/>
      <wsdl:fault  message="intf:OperationFailed"        name="OperationFailed"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="WSRP_v1_PortletManagement_PortType">
    <wsdl:operation name="getPortletDescription">
      <wsdl:input  message="intf:getPortletDescription"  name="getPortletDescription"/>
      <wsdl:output message="intf:getPortletDescriptionResponse" name="getPortletDescriptionResponse"/>
      <wsdl:fault  message="intf:AccessDenied"           name="AccessDenied"/>
      <wsdl:fault  message="intf:InvalidUserCategory"    name="InvalidUserCategory"/>
      <wsdl:fault  message="intf:InconsistentParameters" name="InconsistentParameters"/>
      <wsdl:fault  message="intf:InvalidRegistration"    name="InvalidRegistration"/>
      <wsdl:fault  message="intf:MissingParameters"      name="MissingParameters"/>
      <wsdl:fault  message="intf:OperationFailed"        name="OperationFailed"/>
      <wsdl:fault  message="intf:InvalidHandle"          name="InvalidHandle"/>
    </wsdl:operation>

    <wsdl:operation name="clonePortlet">
      <wsdl:input  message="intf:clonePortlet"           name="clonePortlet"/>
      <wsdl:output message="intf:clonePortletResponse"   name="clonePortletResponse"/>
      <wsdl:fault  message="intf:AccessDenied"           name="AccessDenied"/>
      <wsdl:fault  message="intf:InvalidUserCategory"    name="InvalidUserCategory"/>
      <wsdl:fault  message="intf:InconsistentParameters" name="InconsistentParameters"/>
      <wsdl:fault  message="intf:InvalidRegistration"    name="InvalidRegistration"/>
      <wsdl:fault  message="intf:MissingParameters"      name="MissingParameters"/>
      <wsdl:fault  message="intf:OperationFailed"        name="OperationFailed"/>
      <wsdl:fault  message="intf:InvalidHandle"          name="InvalidHandle"/>
    </wsdl:operation>

    <wsdl:operation name="destroyPortlets">
      <wsdl:input  message="intf:destroyPortlets"         name="destroyPortlets"/>
      <wsdl:output message="intf:destroyPortletsResponse" name="destroyPortletsResponse"/>
      <wsdl:fault  message="intf:InconsistentParameters"  name="InconsistentParameters"/>
      <wsdl:fault  message="intf:InvalidRegistration"     name="InvalidRegistration"/>
      <wsdl:fault  message="intf:MissingParameters"       name="MissingParameters"/>
      <wsdl:fault  message="intf:OperationFailed"         name="OperationFailed"/>
    </wsdl:operation>

    <wsdl:operation name="setPortletProperties">
      <wsdl:input  message="intf:setPortletProperties"   name="setPortletProperties"/>
      <wsdl:output message="intf:setPortletPropertiesResponse" name="setPortletPropertiesResponse"/>
      <wsdl:fault  message="intf:AccessDenied"           name="AccessDenied"/>
      <wsdl:fault  message="intf:InvalidUserCategory"    name="InvalidUserCategory"/>
      <wsdl:fault  message="intf:InconsistentParameters" name="InconsistentParameters"/>
      <wsdl:fault  message="intf:InvalidRegistration"    name="InvalidRegistration"/>
      <wsdl:fault  message="intf:MissingParameters"      name="MissingParameters"/>
      <wsdl:fault  message="intf:OperationFailed"        name="OperationFailed"/>
      <wsdl:fault  message="intf:InvalidHandle"          name="InvalidHandle"/>
    </wsdl:operation>

    <wsdl:operation name="getPortletProperties">
      <wsdl:input  message="intf:getPortletProperties"   name="getPortletProperties"/>
      <wsdl:output message="intf:getPortletPropertiesResponse" name="getPortletPropertiesResponse"/>
      <wsdl:fault  message="intf:AccessDenied"           name="AccessDenied"/>
      <wsdl:fault  message="intf:InvalidUserCategory"    name="InvalidUserCategory"/>
      <wsdl:fault  message="intf:InconsistentParameters" name="InconsistentParameters"/>
      <wsdl:fault  message="intf:InvalidRegistration"    name="InvalidRegistration"/>
      <wsdl:fault  message="intf:MissingParameters"      name="MissingParameters"/>
      <wsdl:fault  message="intf:OperationFailed"        name="OperationFailed"/>
      <wsdl:fault  message="intf:InvalidHandle"          name="InvalidHandle"/>
    </wsdl:operation>

    <wsdl:operation name="getPortletPropertyDescription">
      <wsdl:input  message="intf:getPortletPropertyDescription"  name="getPortletPropertyDescription"/>
      <wsdl:output message="intf:getPortletPropertyDescriptionResponse" name="getPortletPropertyDescriptionResponse"/>
      <wsdl:fault  message="intf:AccessDenied"           name="AccessDenied"/>
      <wsdl:fault  message="intf:InvalidUserCategory"    name="InvalidUserCategory"/>
      <wsdl:fault  message="intf:InconsistentParameters" name="InconsistentParameters"/>
      <wsdl:fault  message="intf:InvalidRegistration"    name="InvalidRegistration"/>
      <wsdl:fault  message="intf:MissingParameters"      name="MissingParameters"/>
      <wsdl:fault  message="intf:OperationFailed"        name="OperationFailed"/>
      <wsdl:fault  message="intf:InvalidHandle"          name="InvalidHandle"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- import namespace="urn:oasis:names:tc:wsrp:v1:intf" location="wsrp_v1_interfaces.wsdl"/ -->

  <wsdl:binding name="WSRP_v1_Markup_Binding_SOAP" type="intf:WSRP_v1_Markup_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="getMarkup">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:getMarkup"/>
      <wsdl:input name="getMarkup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMarkupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault name="AccessDenied" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidUserCategory">
        <soap:fault name="InvalidUserCategory" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault name="InconsistentParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault name="InvalidRegistration" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault name="MissingParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault name="OperationFailed" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidHandle">
        <soap:fault name="InvalidHandle" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidCookie">
        <soap:fault name="InvalidCookie" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidSession">
        <soap:fault name="InvalidSession" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedMode">
        <soap:fault name="UnsupportedMode" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedWindowState">
        <soap:fault name="UnsupportedWindowState" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedLocale">
        <soap:fault name="UnsupportedLocale" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedMimeType">
        <soap:fault name="UnsupportedMimeType" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="performBlockingInteraction">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:performBlockingInteraction"/>
      <wsdl:input name="performBlockingInteraction">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="performBlockingInteractionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault name="AccessDenied" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidUserCategory">
        <soap:fault name="InvalidUserCategory" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault name="InconsistentParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault name="InvalidRegistration" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault name="MissingParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault name="OperationFailed" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidHandle">
        <soap:fault name="InvalidHandle" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PortletStateChangeRequired">
        <soap:fault name="PortletStateChangeRequired" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidCookie">
        <soap:fault name="InvalidCookie" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidSession">
        <soap:fault name="InvalidSession" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedMode">
        <soap:fault name="UnsupportedMode" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedWindowState">
        <soap:fault name="UnsupportedWindowState" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedLocale">
        <soap:fault name="UnsupportedLocale" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedMimeType">
        <soap:fault name="UnsupportedMimeType" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="releaseSessions">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:releaseSessions"/>
      <wsdl:input name="releaseSessions">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="releaseSessionsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault name="AccessDenied" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault name="InvalidRegistration" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault name="MissingParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault name="OperationFailed" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="initCookie">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:initCookie"/>
      <wsdl:input name="initCookie">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="initCookieResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault name="AccessDenied" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault name="InvalidRegistration" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault name="OperationFailed" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>


  <wsdl:binding name="WSRP_v1_ServiceDescription_Binding_SOAP" type="intf:WSRP_v1_ServiceDescription_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="getServiceDescription">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:getServiceDescription"/>
      <wsdl:input name="getServiceDescription">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServiceDescriptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault name="InvalidRegistration" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault name="OperationFailed" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="WSRP_v1_PortletManagement_Binding_SOAP" type="intf:WSRP_v1_PortletManagement_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="getPortletDescription">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:getPortletDescription"/>
      <wsdl:input name="getPortletDescription">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPortletDescriptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault name="AccessDenied" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidUserCategory">
        <soap:fault name="InvalidUserCategory" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault name="InconsistentParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault name="InvalidRegistration" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault name="MissingParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault name="OperationFailed" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidHandle">
        <soap:fault name="InvalidHandle" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="clonePortlet">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:clonePortlet"/>
      <wsdl:input name="clonePortlet">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="clonePortletResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault name="AccessDenied" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidUserCategory">
        <soap:fault name="InvalidUserCategory" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault name="InconsistentParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault name="InvalidRegistration" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault name="MissingParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault name="OperationFailed" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidHandle">
        <soap:fault name="InvalidHandle" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="destroyPortlets">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:destroyPortlets"/>
      <wsdl:input name="destroyPortlets">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="destroyPortletsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault name="InconsistentParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault name="InvalidRegistration" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault name="MissingParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault name="OperationFailed" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="setPortletProperties">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:setPortletProperties"/>
      <wsdl:input name="setPortletProperties">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setPortletPropertiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault name="AccessDenied" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidUserCategory">
        <soap:fault name="InvalidUserCategory" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault name="InconsistentParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault name="InvalidRegistration" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault name="MissingParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault name="OperationFailed" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidHandle">
        <soap:fault name="InvalidHandle" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getPortletProperties">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:getPortletProperties"/>
      <wsdl:input name="getPortletProperties">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPortletPropertiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault name="AccessDenied" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidUserCategory">
        <soap:fault name="InvalidUserCategory" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault name="InconsistentParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault name="InvalidRegistration" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault name="MissingParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault name="OperationFailed" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidHandle">
        <soap:fault name="InvalidHandle" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getPortletPropertyDescription">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:getPortletPropertyDescription"/>
      <wsdl:input name="getPortletPropertyDescription">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPortletPropertyDescriptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault name="AccessDenied" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidUserCategory">
        <soap:fault name="InvalidUserCategory" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault name="InconsistentParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault name="InvalidRegistration" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault name="MissingParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault name="OperationFailed" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidHandle">
        <soap:fault name="InvalidHandle" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="WSRP_v1_Registration_Binding_SOAP" type="intf:WSRP_v1_Registration_PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="register">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:register"/>
      <wsdl:input name="register">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MissingParameters">
        <soap:fault name="MissingParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault name="OperationFailed" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="deregister">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:deregister"/>
      <wsdl:input name="deregister">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deregisterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault name="InvalidRegistration" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault name="OperationFailed" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="modifyRegistration">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:modifyRegistration"/>
      <wsdl:input name="modifyRegistration">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modifyRegistrationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault name="InvalidRegistration" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault name="MissingParameters" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault name="OperationFailed" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <!-- import namespace="urn:oasis:names:tc:wsrp:v1:bind"
          location="wsrp_v1_bindings.wsdl"/ -->

  <wsdl:service name="WSRPService">
    <wsdl:port binding="bind:WSRP_v1_Markup_Binding_SOAP" name="WSRPBaseService">
      <soap:address location="http://localhost:9090/wsrp/wsrp"/>
    </wsdl:port>
    <wsdl:port binding="bind:WSRP_v1_ServiceDescription_Binding_SOAP" name="WSRPServiceDescriptionService">
      <soap:address location="http://localhost:9090/wsrp/wsrp"/>
    </wsdl:port>
    <wsdl:port binding="bind:WSRP_v1_Registration_Binding_SOAP" name="WSRPRegistrationService">
      <soap:address location="http://localhost:9090/wsrp/wsrp"/>
    </wsdl:port>
    <wsdl:port binding="bind:WSRP_v1_PortletManagement_Binding_SOAP" name="WSRPPortletManagementService">
      <soap:address location="http://localhost:9090/wsrp/wsrp"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
